
html {
	background-color: black;
	margin: 0;
	height:100%;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 3;
  }

.all{
  background-color: black;
}
h1{
    position: relative;
    left: 0;
	right: 0;
	top: 50%;
    
    color: #FFF;
    text-align: center;
    font-family: 'lato',sans-serif;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -35px;

    
}

h2{
	position: relative;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: 'lato',sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 10px;
	padding-left: 10px;
	margin-top: -90px;
}

.menu{
	position: relative;
    top: 30%;
	text-align:center;

    color: #FFF;
    font-family: 'lato',sans-serif, bold;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
	display: inline-block;
	margin: auto;
	width: 90%;
	margin-top: -10px;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu a {
	position: relative;
	display: inline-block;
	text-align: center;
	justify-content: center;
	padding: 4px 0;
	font-family: Lato, sans-serif;
	color: #ecf0f1;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	font-weight: 400;
	width: 100%;
	
}
ul li a::after {
	position: absolute;
	content: "";
	justify-content: center;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #3498db;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
	font-weight: 400;
	text-align: center;
}

ul li a:hover {
	color: #F4D03F;
	font-weight: 400;
	justify-content: center;
	text-align: center;

}

ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: left;
	font-weight: 400;
	justify-content: center;
	text-align: center;
}
  
  * {
    box-sizing: Border-box;
  }

 .MatBut{
	position: relative;
    color: #FFF;
    font-family: 'lato',sans-serif, bold;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
	display: inline-block;
	margin: auto;
	width: 90%;
	margin-top: 40px;
	text-decoration: none;
	text-transform: uppercase;
	background: rgba( 244, 208, 63, 0.4) ;
	justify-content: center;
	text-align: center;
	width:100%;
	
 }

 .MatBut:hover {
	color: #FFF;
	font-weight: 500;
	justify-content: center;
	text-align: center;
	background: rgba( 244, 208, 63, 0.7) ;
	width:100%;
	font-weight: 500;

}


/* 
    Created on : 22-Jun-2015, 13:00:20
    Author     : probinson
    Based on    : https://codepen.io/schoenwaldnils/pen/JnIKA
*/
/*
    following functions from
    https://unindented.org/articles/trigonometry-in-sass/
*/
.circular-menu-container {
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: none;
	width: auto;
}

.circular-menu {
	width: 600px;
	height: 600px;
	position: relative;
	left: 50%;
	margin: 0;
	margin-left: -300px;
	overflow: hidden;
	border-radius: 500px;
	border-radius: 50%;
	z-index: 1;
	list-style: none;
	box-shadow: 0px 0px 15px #333;
}

.center-section {
	width: 360px;
	height: 360px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -180px;
	padding: 55px;
	border-radius: 500px;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	box-shadow: inset 0px 0px 15px #333;
	display: none;
	z-index: 1;
}

.center-section.section-intro {
	display: block;
}

.circular-menu li:hover ~ .center-section.section-intro,
.touch .circular-menu li:focus ~ .center-section.section-intro {
	display: none;
}

.touch .circular-menu li:focus {
	outline: 0;
}

.circular-menu li div.label {
	position: absolute;
	width: 180px;
	height: 180px;
	z-index: 2;
}

.circular-menu li div.label p {
	text-align: center;
	max-width: 118.8px;
	margin: 0 auto;
	margin-top: 72px;
	color: #fff;
}

.circular-menu li span.arrow {
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	transition: all 300ms ease-out;
	z-index: 2;
}

.circular-menu li .bg {
	width: 350px;
	height: 300px;
	position: absolute;
	transform-origin: 0 300px;
	margin-top: -300px;
	left: 50%;
	top: 50%;
	transition: all 300ms ease-out;
}

.circular-menu li {
	position: absolute;
	text-decoration: none;
	top: 50%;
	left: 50%;
	display: none;
}

.circular-menu li:nth-child(1) {
	display: block;
}

.circular-menu li:nth-child(1) .bg {
	transform: rotate(-72deg) skew(-54deg);
	background: #4A235A;
}

.circular-menu li:nth-child(1):hover .bg,
.touch .circular-menu li:nth-child(1):focus .bg {
	background: #68317f;
}

.circular-menu li:nth-child(1) span.arrow {
	transform: rotate(-45deg);
	margin: -225px 0 0 -15px;
	background: #4A235A;
}

.circular-menu li:nth-child(1):hover span.arrow,
.touch .circular-menu li:nth-child(1):focus span.arrow {
	background: #68317f;
	margin: -195px 0 0 -15px;
}

.circular-menu li:nth-child(1) div.label {
	margin: -330px 0 0 -90px;
}

.circular-menu li:nth-child(1):hover div.center-section.section-1,
.touch .circular-menu li:nth-child(1):focus div.center-section.section-1 {
	display: block;
}

.circular-menu li:nth-child(2) {
	display: block;
}

.circular-menu li:nth-child(2) .bg {
	transform: rotate(-36deg) skew(-54deg);
	background: #022F56;
}

.circular-menu li:nth-child(2):hover .bg,
.touch .circular-menu li:nth-child(2):focus .bg {
	background: #034a88;
}

.circular-menu li:nth-child(2) span.arrow {
	transform: rotate(-9deg);
	margin: -184.89357px 0 0 108.4349px;
	background: #022F56;
}

.circular-menu li:nth-child(2):hover span.arrow,
.touch .circular-menu li:nth-child(2):focus span.arrow {
	background: #034a88;
	margin: -160.62306px 0 0 90.80135px;
}

.circular-menu li:nth-child(2) div.label {
	margin: -284.16408px 0 0 51.06846px;
}

.circular-menu li:nth-child(2):hover div.center-section.section-2,
.touch .circular-menu li:nth-child(2):focus div.center-section.section-2 {
	display: block;
}

.circular-menu li:nth-child(3) {
	display: block;
}

.circular-menu li:nth-child(3) .bg {
	transform: rotate(0deg) skew(-54deg);
	background: #054865;
}

.circular-menu li:nth-child(3):hover .bg,
.touch .circular-menu li:nth-child(3):focus .bg {
	background: #076b96;
}

.circular-menu li:nth-child(3) span.arrow {
	transform: rotate(27deg);
	margin: -79.89357px 0 0 184.72187px;
	background: #054865;
}

.circular-menu li:nth-child(3):hover span.arrow,
.touch .circular-menu li:nth-child(3):focus span.arrow {
	background: #076b96;
	margin: -70.62306px 0 0 156.19017px;
}

.circular-menu li:nth-child(3) div.label {
	margin: -164.16408px 0 0 138.25356px;
}

.circular-menu li:nth-child(3):hover div.center-section.section-3,
.touch .circular-menu li:nth-child(3):focus div.center-section.section-3 {
	display: block;
}

.circular-menu li:nth-child(4) {
	display: block;
}

.circular-menu li:nth-child(4) .bg {
	transform: rotate(36deg) skew(-54deg);
	background: #257993;
}

.circular-menu li:nth-child(4):hover .bg,
.touch .circular-menu li:nth-child(4):focus .bg {
	background: #2f9bbc;
}

.circular-menu li:nth-child(4) span.arrow {
	transform: rotate(63deg);
	margin: 49.89357px 0 0 184.72187px;
	background: #257993;
}

.circular-menu li:nth-child(4):hover span.arrow,
.touch .circular-menu li:nth-child(4):focus span.arrow {
	background: #2f9bbc;
	margin: 40.62306px 0 0 156.19017px;
}

.circular-menu li:nth-child(4) div.label {
	margin: -15.83592px 0 0 138.25356px;
}

.circular-menu li:nth-child(4):hover div.center-section.section-4,
.touch .circular-menu li:nth-child(4):focus div.center-section.section-4 {
	display: block;
}

.circular-menu li:nth-child(5) {
	display: block;
}

.circular-menu li:nth-child(5) .bg {
	transform: rotate(72deg) skew(-54deg);
	background: #53969E;
}

.circular-menu li:nth-child(5):hover .bg,
.touch .circular-menu li:nth-child(5):focus .bg {
	background: #70adb4;
}

.circular-menu li:nth-child(5) span.arrow {
	transform: rotate(99deg);
	margin: 154.89357px 0 0 108.4349px;
	background: #53969E;
}

.circular-menu li:nth-child(5):hover span.arrow,
.touch .circular-menu li:nth-child(5):focus span.arrow {
	background: #70adb4;
	margin: 130.62306px 0 0 90.80135px;
}

.circular-menu li:nth-child(5) div.label {
	margin: 104.16408px 0 0 51.06846px;
}

.circular-menu li:nth-child(5):hover div.center-section.section-5,
.touch .circular-menu li:nth-child(5):focus div.center-section.section-5 {
	display: block;
}

.circular-menu li:nth-child(6) {
	display: block;
}

.circular-menu li:nth-child(6) .bg {
	transform: rotate(108deg) skew(-54deg);
	background: #9F9C57;
}

.circular-menu li:nth-child(6):hover .bg,
.touch .circular-menu li:nth-child(6):focus .bg {
	background: #b4b175;
}

.circular-menu li:nth-child(6) span.arrow {
	transform: rotate(135deg);
	margin: 195px 0 0 -15px;
	background: #9F9C57;
}

.circular-menu li:nth-child(6):hover span.arrow,
.touch .circular-menu li:nth-child(6):focus span.arrow {
	background: #b4b175;
	margin: 165px 0 0 -15px;
}

.circular-menu li:nth-child(6) div.label {
	margin: 150px 0 0 -90px;
}

.circular-menu li:nth-child(6):hover div.center-section.section-6,
.touch .circular-menu li:nth-child(6):focus div.center-section.section-6 {
	display: block;
}

.circular-menu li:nth-child(7) {
	display: block;
}

.circular-menu li:nth-child(7) .bg {
	transform: rotate(144deg) skew(-54deg);
	background: #D4AC0D;
}

.circular-menu li:nth-child(7):hover .bg,
.touch .circular-menu li:nth-child(7):focus .bg {
	background: #f1c823;
}

.circular-menu li:nth-child(7) span.arrow {
	transform: rotate(171deg);
	margin: 154.89357px 0 0 -138.4349px;
	background: #D4AC0D;
}

.circular-menu li:nth-child(7):hover span.arrow,
.touch .circular-menu li:nth-child(7):focus span.arrow {
	background: #f1c823;
	margin: 130.62306px 0 0 -120.80135px;
}

.circular-menu li:nth-child(7) div.label {
	margin: 104.16408px 0 0 -231.06846px;
}

.circular-menu li:nth-child(7):hover div.center-section.section-7,
.touch .circular-menu li:nth-child(7):focus div.center-section.section-7 {
	display: block;
}

.circular-menu li:nth-child(8) {
	display: block;
}

.circular-menu li:nth-child(8) .bg {
	transform: rotate(180deg) skew(-54deg);
	background: #BA4A00;
}

.circular-menu li:nth-child(8):hover .bg,
.touch .circular-menu li:nth-child(8):focus .bg {
	background: #ed5e00;
}

.circular-menu li:nth-child(8) span.arrow {
	transform: rotate(207deg);
	margin: 49.89357px 0 0 -214.72187px;
	background: #BA4A00;
}

.circular-menu li:nth-child(8):hover span.arrow,
.touch .circular-menu li:nth-child(8):focus span.arrow {
	background: #ed5e00;
	margin: 40.62306px 0 0 -186.19017px;
}

.circular-menu li:nth-child(8) div.label {
	margin: -15.83592px 0 0 -318.25356px;
}

.circular-menu li:nth-child(8):hover div.center-section.section-8,
.touch .circular-menu li:nth-child(8):focus div.center-section.section-8 {
	display: block;
}

.circular-menu li:nth-child(9) {
	display: block;
}

.circular-menu li:nth-child(9) .bg {
	transform: rotate(216deg) skew(-54deg);
	background: #A71D0C;
}

.circular-menu li:nth-child(9):hover .bg,
.touch .circular-menu li:nth-child(9):focus .bg {
	background: #d7250f;
}

.circular-menu li:nth-child(9) span.arrow {
	transform: rotate(243deg);
	margin: -79.89357px 0 0 -214.72187px;
	background: #A71D0C;
}

.circular-menu li:nth-child(9):hover span.arrow,
.touch .circular-menu li:nth-child(9):focus span.arrow {
	background: #d7250f;
	margin: -70.62306px 0 0 -186.19017px;
}

.circular-menu li:nth-child(9) div.label {
	margin: -164.16408px 0 0 -318.25356px;
}

.circular-menu li:nth-child(9):hover div.center-section.section-9,
.touch .circular-menu li:nth-child(9):focus div.center-section.section-9 {
	display: block;
}

.circular-menu li:nth-child(10) {
	display: block;
}

.circular-menu li:nth-child(10) .bg {
	transform: rotate(252deg) skew(-54deg);
	background: #60201E;
}

.circular-menu li:nth-child(10):hover .bg,
.touch .circular-menu li:nth-child(10):focus .bg {
	background: #872d2a;
}

.circular-menu li:nth-child(10) span.arrow {
	transform: rotate(279deg);
	margin: -184.89357px 0 0 -138.4349px;
	background: #60201E;
}

.circular-menu li:nth-child(10):hover span.arrow,
.touch .circular-menu li:nth-child(10):focus span.arrow {
	background: #872d2a;
	margin: -160.62306px 0 0 -120.80134px;
}

.circular-menu li:nth-child(10) div.label {
	margin: -284.16408px 0 0 -231.06845px;
}

.circular-menu li:nth-child(10):hover div.center-section.section-10,
.touch .circular-menu li:nth-child(10):focus div.center-section.section-10 {
	display: block;
}

.animated {
	animation-duration: 0.75s;
	animation-fill-mode: both;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 50%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}