/*Branching Matrix*/
body {
    overflow: hidden;
    margin: 0;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica;
}


.node circle {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 1.5px;
    border-radius: 50%;
    width: 20rem;
}

.node circle.with-children {
    fill: green;
}

.node circle.mouseover {
    cursor: pointer;
}

.node text {
    font-size: 1.2rem;
}

a:link text {
  text-decoration: underline !important;
}

path.link, .link {
    fill: none;
    stroke: #b0b0b0;
    stroke-width: 1px;
}
/*Webpage*/
/* Add a black background color to the top navigation */
.welcomebar {
    background-color: #21618C ;
    overflow: hidden;
  }
  
  /* Change the color of links on hover */
  .navigate a:hover {
    background-color: #F4D03F;
    color: #2E86C1 ;
    text-decoration: none;
    padding: 14px 16px;
  }
  
  /* Override color of visited link*/
   a:visited {
    text-decoration: none;
    color: #f2f2f2;
  }
  a:focus {
    text-decoration: none;
    color: #2E86C1;
  }

   /* Style the links inside the navigation bar */
  li {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    
  }
  /* Page centering */
  ol{
    text-align: center;  
  }
  /* GOHC styling */
  .pagetitle li{
      font-size: 35px;
      color:  #F4D03F;

  }
 
  
