/*Branching Matrix*/
body {
    overflow: scroll;
    margin: 0;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica;
    background-color: #AED6F1;
    }

.matrix{
  height: 200px;
  width: 400px;
  background-color: powderblue;
}

.node circle {
    fill: #F4D03F;
    stroke: #FDFEFE;
    stroke-width: 1.5px;
    border-radius: 50%;
    width: 20rem;
}

.node circle.with-children {
    fill: #154360 ;
}

.node circle.mouseover {
    cursor: pointer;
}

.node text {
    font-size: 1.2rem;
    padding: 14px 16px 14px 16px;
    line-height: 1.6;
}

a:link text {
  text-decoration: underline !important;
  padding: 14px 16px 14px 16px;
  line-height: 1.6;
}

path.link, .link {
    fill: none;
    stroke: #AAB7B8;
    stroke-width: 1px;
}
