body {
    overflow: hidden;
    margin: 0;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica;
}


.node circle {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 1.5px;
    border-radius: 50%;
    width: 20rem;
}

.node circle.with-children {
    fill: green;
}

.node circle.mouseover {
    cursor: pointer;
}

.node text {
    font-size: 1.2rem;
}

a:link text {
  text-decoration: underline !important;
}

path.link, .link {
    fill: none;
    stroke: #b0b0b0;
    stroke-width: 1px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #1A5276;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: #1A5276;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #F4D03F;
    color: steelblue;
  }
  
